<html lang="en" dir="ltr">
  <head>
<link rel="stylesheet" href="styles/main.css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="contFlexTot">
      <div class="forn">
    <div id="buttCrea" class="buttCerca">
     <span id="inputCreabott" class="inputCerca" contenteditable>NUOVO FORNITORE</span>
     <span id="bottBottCrea" class="bottCreaF" onClick="heo.bottoni.creaBottone('${text.fornitore}', '${id}')"><sup>+</sup></span>
    </div>
  <div class="contFlexBott">
  </div>
    <script src="main.js" charset="utf-8"></script>
  </div>            </div><div class="docEart">
    sdgdsfgsdfgsdf
  </div> </div>
  </body>
</html>
