<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script
  src="http://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="">
      <button type="button" class="logIn" onclick="stages[0].logic()">logIn</button>
      <button type="button" class="creatUser" onclick="stages[1].logic()">create user</button>
      <button type="button" class="confirmUser" onclick="stages[2].logic()">confirm user</button>
      <button type="button" class="recoverPssw" onclick="stages[3].logic()">recover password</button>


    <div class="mutevole">
    </div>
  </div>

  <script src="userForms.js" charset="utf-8"></script>
  </body>
</html>
