<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../styles/mainUser.css">
<link href="https://fonts.googleapis.com/css?family=Questrial|Viga&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  </head>
    <body>
      <div class="popUp" align="center">
        <div>
        </div>
      </div>
  <div id="aboutUsr" class=""></div><br><br>
<div id="gestioneForn" class="gestioneForn" >
  <div id="newDoc" class="buttF" onclick="$('#contNewDoc').slideToggle('slow', () => {})">crea Documento </div><br>
  <div id="contNewDoc" class="contNewDoc" align="center">

  </div>
  <div id="fornitori" class="contTotF">
  </div>
  </div>



    <script src="../userPage.js" charset="utf-8"></script>
  </body>
</html>
